/* hacker-academic.css */
body {
    background-color: #000;
    color: #33ff33;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* General Section Style */
section {
    border: 2px solid #33ff33;  /* Adds the border for each section */
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px; /* Rounded corners */
    background-color: #111; /* Dark background for contrast */
}

/* Specific Styles */
.profile {
    margin-top: 50px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

h1, h2 {
    text-shadow: 0 0 10px #33ff33;
    margin-bottom: 20px;
}

.projects, .ongoing-projects, .documentation {
    text-align: left;
}

select {
    background-color: #111;
    color: #33ff33;
    border: 1px solid #33ff33;
    padding: 10px;
    font-size: 1.2em;
}

button {
    margin-left: 10px;
    background-color: #33ff33;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    text-transform: uppercase;
}

button:hover {
    background-color: #28a745;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #111;
    color: #33ff33;
}

a {
    color: #33ff33;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
